.mainContainer {
    background-color: rgba(87, 155, 158, 0.347);
    border: 1px solid rgba(0, 0, 0, 0.388);
    padding: 10px;
    display: flex;
  }
  
  .parentContainer {
    margin: 10px auto;
    width: 60%;
  }
  
  .textWrapper {
    margin-left: 10px;
  }
  
  .newsTitle {
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
  }
  
  .newsDescription {
  }